<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <div class="bg-white rounded p-5 m-5 shadow">
        <h1 class="mb-5">Consultation</h1>
        <p>Between Doctor <%= @consultation.doctor.last_name %> (<%= @consultation.doctor.speciality %>) and the patient <%= @consultation.patient.last_name %>. </p>
        <%= link_to "Delete", consultation_path(@consultation), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger shadow mt-5 me-3 p-3' %>
        <%= link_to 'Edit', edit_consultation_path, class: 'btn btn-light shadow mt-5 me-3 p-3' %>
        <%= link_to 'Back', root_path, class: 'btn btn-light shadow mt-5 me-3 p-3' %>
      </div>
    </div>
  </div>
</div>
